<html ng-app="TextHelperApp" ng-controller="TextHelperController">
<head>
	<meta charset="utf8"/>
	<title>Texthelper</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div style="position: absolute; left: 10%;"> 
		<div>Words: {{ wordcount() }}</div>
		{{ occurence(keyword1number,keyword1numberMax,keyword1) }}<input type="number" style="width: 50px;" ng-model="keyword1number" /><input type="number" style="width: 50px;" ng-model="keyword1numberMax" /><input type="text" ng-model="keyword1" />{{ keywordcount(keyword1) }}<br />	
		{{ occurence(keyword2number,keyword2numberMax,keyword2) }}<input type="number" style="width: 50px;" ng-model="keyword2number" /><input type="number" style="width: 50px;" ng-model="keyword2numberMax" /><input type="text" ng-model="keyword2" />{{ keywordcount(keyword2) }}<br />	
		{{ occurence(keyword3number,keyword3numberMax,keyword3) }}<input type="number" style="width: 50px;" ng-model="keyword3number" /><input type="number" style="width: 50px;" ng-model="keyword3numberMax" /><input type="text" ng-model="keyword3" />{{ keywordcount(keyword3) }}<br />	
		{{ occurence(keyword4number,keyword4numberMax,keyword4) }}<input type="number" style="width: 50px;" ng-model="keyword4number" /><input type="number" style="width: 50px;" ng-model="keyword4numberMax" /><input type="text" ng-model="keyword4" />{{ keywordcount(keyword4) }}<br />
		{{ occurence(keyword5number,keyword5numberMax,keyword5) }}<input type="number" style="width: 50px;" ng-model="keyword5number" /><input type="number" style="width: 50px;" ng-model="keyword5numberMax" /><input type="text" ng-model="keyword5" />{{ keywordcount(keyword5) }}<br />
		{{ occurence(keyword6number,keyword6numberMax,keyword6) }}<input type="number" style="width: 50px;" ng-model="keyword6number" /><input type="number" style="width: 50px;" ng-model="keyword6numberMax" /><input type="text" ng-model="keyword6" />{{ keywordcount(keyword6) }}<br />
		{{ occurence(keyword7number,keyword7numberMax,keyword7) }}<input type="number" style="width: 50px;" ng-model="keyword7number" /><input type="number" style="width: 50px;" ng-model="keyword7numberMax" /><input type="text" ng-model="keyword7" />{{ keywordcount(keyword7) }}<br />
		{{ occurence(keyword8number,keyword8numberMax,keyword8) }}<input type="number" style="width: 50px;" ng-model="keyword8number" /><input type="number" style="width: 50px;" ng-model="keyword8numberMax" /><input type="text" ng-model="keyword8" />{{ keywordcount(keyword8) }}<br />
		{{ occurence(keyword9number,keyword9numberMax,keyword9) }}<input type="number" style="width: 50px;" ng-model="keyword9number" /><input type="number" style="width: 50px;" ng-model="keyword9numberMax" /><input type="text" ng-model="keyword9" />{{ keywordcount(keyword9) }}<br />		
		{{ occurence(keyword10number,keyword10numberMax,keyword10) }}<input type="number" style="width: 50px;" ng-model="keyword10number" /><input type="number" style="width: 50px;" ng-model="keyword10numberMax" /><input type="text" ng-model="keyword10"/>{{ keywordcount(keyword10) }}
	</div>
	<textarea style="position: absolute; right: 10%; " ng-model="text" rows="40" cols="80"/><br />	
</body>
</html>   