<html ng-app="TextHelperApp" ng-controller="TextHelperController">
<head>
	<meta charset="utf8"/>
	<title>Texthelper</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div style="position: absolute; left: 10%;"> 
		<div>Words: {{ wordcount() }}</div>
		<input type="number" style="width: 50px;" ng-model="keyword1number" /><input type="text" ng-model="keyword1" />{{ keywordcount(keyword1) }}<br />	
		<input type="number" style="width: 50px;" ng-model="keyword2number" /><input type="text" ng-model="keyword2" />{{ keywordcount(keyword2) }}<br />	
		<input type="number" style="width: 50px;" ng-model="keyword3number" /><input type="text" ng-model="keyword3" />{{ keywordcount(keyword3) }}<br />	
		<input type="number" style="width: 50px;" ng-model="keyword4number" /><input type="text" ng-model="keyword4" />{{ keywordcount(keyword4) }}<br />
		<input type="number" style="width: 50px;" ng-model="keyword5number" /><input type="text" ng-model="keyword5" />{{ keywordcount(keyword5) }}<br />
		<input type="number" style="width: 50px;" ng-model="keyword6number" /><input type="text" ng-model="keyword6" />{{ keywordcount(keyword6) }}<br />
		<input type="number" style="width: 50px;" ng-model="keyword7number" /><input type="text" ng-model="keyword7" />{{ keywordcount(keyword7) }}<br />
		<input type="number" style="width: 50px;" ng-model="keyword8number" /><input type="text" ng-model="keyword8" />{{ keywordcount(keyword8) }}<br />
		<input type="number" style="width: 50px;" ng-model="keyword9number" /><input type="text" ng-model="keyword9" />{{ keywordcount(keyword9) }}<br />		
		<input type="number" style="width: 50px;" ng-model="keyword10number" /><input type="text" ng-model="keyword10"/>{{ keywordcount(keyword10) }}
	</div>
	<textarea style="position: absolute; right: 10%; " ng-model="text" rows="40" cols="80"/><br />	
</body>
</html>   